<div class="container">
  <div class="conteudo-imagens">
    <img class="imagem-front" src="{{ camiseta.urlImagem }}" />
    <div class="div-front-back">
      <img class="imagem" src="{{ camiseta.urlImagemZoom }}" />
      <img class="imagem" src="{{ camiseta.urlImagemBack }}" />
    </div>
  </div>
</div>
<div class="conteudo-texto">
  <h2 class="titulo">Camiseta {{ camiseta.nome }} {{ camiseta.cor }}</h2>
  <div>
    <button class="botoes-tamanho" mat-raised-button>P</button>
    <button class="botoes-tamanho" mat-raised-button>M</button>
    <button class="botoes-tamanho" mat-raised-button>G</button>
    <button class="botoes-tamanho" mat-raised-button>GG</button>
  </div>
  <div class="preco">{{camiseta.preco | currency:'R$'}}</div>
  <button class="botao-comprar" mat-raised-button>COMPRAR</button>
</div>

<footer class="footer">
  <div class="footer-titulo">
    <p class="footer-titulo-texto">
      Site projeto feito por Angelo Lorensi Mozzaquatro.
    </p>
  </div>

  <div class= "footer-icones">
    <a href="https://github.com/angelolorensi"><img src="/assets/img/footer-icones/logo_github.svg"></a>
    <a href="https://www.instagram.com/angelo_lorensi/" class="mx-sm-3"><img src="assets/img/footer-icones/logo_instagram.svg"></a>
    <a href="https://www.linkedin.com/in/angelo-lorensi-52745a20b/"><img src="/assets/img/footer-icones/logo_linkedin.svg"></a>
  </div>
</footer>
