
.toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #eaeaea;
  gap: 10vh;
}

.toolbar-botao{
  background-color: transparent;
}

.toolbar-icons{
  margin-right: 7px;
}

.barra-de-pesquisa{
  width: 50%;
  text-align: center;
}

mat-icon:hover{
  cursor: pointer;
  color: grey
}

@media (max-width: 500px) {
  .toolbar{
    justify-content: center;
    gap: 1vh;
  }
}
