<mat-toolbar class="toolbar">
  <a routerLink=""><img src="\assets\img\icones-header\logo-smt-preto-small.png"/></a>

  <mat-form-field class="barra-de-pesquisa">
    <input type="text" matInput placeholder="Pesquisar">
  </mat-form-field>

  <div>
    <mat-icon class="toolbar-icons" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
    <mat-icon class="toolbar-icons" aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
    <mat-icon class="toolbar-icons" aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
