<div class="container">
  <div class="background-image">
    <mat-toolbar class="toolbar">
       <button routerLink="camisetas" class="toolbar-itens" mat-raised-button>CAMISETAS</button>
       <button routerLink="bermudas" class="toolbar-itens" mat-raised-button>BERMUDAS</button>
       <button routerLink="moletons" class="toolbar-itens" mat-raised-button>MOLETONS</button>
       <button routerLink="acessorios" class="toolbar-itens" mat-raised-button>ACESSÓRIOS</button>
    </mat-toolbar>

    <img class="logo-escrito" src="\assets\img\logo-escrito.svg">
  </div>

  <div class="conteudo-primeiro">
    <div>
      <img src="\assets\img\icones-home\caminhao-icone.png">
      <div class="conteudo-primeiro-titulo">Frete Gratis</div>
      <div class="conteudo-primeiro-subtitulo">Fretes gratis para <br> todo país.</div>
    </div>

    <div>
     <img src="\assets\img\icones-home\escudo-icone.png">
     <div class="conteudo-primeiro-titulo">Pagamentos 100% Seguros</div>
     <div class="conteudo-primeiro-subtitulo">Aceitamos varias varias <br> bandeiras de cartões<br> assim como pix e boleto.</div>
    </div>

    <div>
      <img src="\assets\img\icones-home\estrela-icone.png">
      <div class="conteudo-primeiro-titulo">Garantia de Qualidade</div>
      <div class="conteudo-primeiro-subtitulo">Garantia contra defeitos<br> de fabricação de 6 meses.</div>
    </div>

    <div>
      <img src="\assets\img\icones-home\dollar-icone.png">
      <div class="conteudo-primeiro-titulo">Bons Preços</div>
      <div class="conteudo-primeiro-subtitulo">Camisetas a <br> partir de R$50,00.</div>
    </div>
  </div>

  <h2 class="mais-vendidos">Mais Vendidos:</h2>

  <ul>
    <li *ngFor="let camiseta of camisetas">
      <div class="conteudo-produtos">
        <mat-card class="mat-card-produto" >
          <img class="card-img"src="{{camiseta.urlImagem}}"/>
          <mat-card-content class="mat-card-content">
            <h2 class="nome-produto">Camiseta {{camiseta.nome}}</h2>
            <p class="preco-produto">{{camiseta.preco | currency:'R$'}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </li>
  </ul>
</div>

<footer class="footer">
  <div class="footer-titulo">
    <p class="footer-titulo-texto">
      Site projeto feito por Angelo Lorensi Mozzaquatro.
    </p>
  </div>

  <div class= "footer-icones">
    <a href="https://github.com/angelolorensi"><img src="/assets/img/footer-icones/logo_github.svg"></a>
    <a href="https://www.instagram.com/angelo_lorensi/" class="mx-sm-3"><img src="assets/img/footer-icones/logo_instagram.svg"></a>
    <a href="https://www.linkedin.com/in/angelo-lorensi-52745a20b/"><img src="/assets/img/footer-icones/logo_linkedin.svg"></a>
  </div>
</footer>

