.background-image{
  background-image: url('src\assets\img\background-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 170vh;
  height: 50vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.toolbar{
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid;
}

.toolbar-itens{
  color: white;
  background-color: transparent;
  font-size: 30px;
}

.opcoes-mat-menu{
  width: 21vh;
  text-align: center;
}

.logo-escrito{
  width: 50vh;
  margin: 3vh;
  margin-left: 10vh;
}

.conteudo-primeiro{
  display: flex;
  gap: 10vh;
  margin-top: 2vh;
  border-bottom: 1px solid;
}

.conteudo-primeiro-titulo{
  font-weight: bold;
}

.conteudo-primeiro-subtitulo{
  color: rgb(88, 88, 88);
}

.mais-vendidos{
  margin-top: 40px;
  font-size: 3vh;
  text-decoration: underline;
}

ul{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.mat-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img{
  border-bottom: 1px solid;
}

.preco-produto{
  font-size: 2.5vh;
}

.footer{
  border-top: 1px solid ;
  margin-top: 40px;
}

.footer-titulo{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #909090;
}

.footer-icones{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-bottom: 30px;
}

@media (max-width: 500px) {
  .toolbar{
    justify-content: center;
    gap: 1vh;
  }

  .toolbar-itens{
    font-size: 15px;
    padding: 1px;
  }

  .logo-escrito{
    margin-left: 49vh;
  }

  .conteudo-primeiro{
    display: flex;
    gap: 1vh;
    margin: 2px;
    margin-top: 2vh;
  }

  .conteudo-segundo-cards{
    display: flex;
    flex-direction: column;
  }
}

