<div class="container">
  <h2 class="titulo-pagina">Minha Conta</h2>
  <div class="usuario">
    <div class="informacoes-usuario">
      <img src="/assets/img/avatar-usuario.jpg" class="avatar-usuario">
      <div>
        <h2 class="nome-usuario">NOME USUARIO</h2>
        <p class="informacoes-usuario-texto">Data Nascimento:</p>
        <p class="informacoes-usuario-texto">Cpf: </p>
        <p class="informacoes-usuario-texto">Telefone:</p>
        <p class="informacoes-usuario-texto">Sexo: </p>
        <p class="informacoes-usuario-texto">Email: </p>
      </div>
    </div>
  </div>
  <div class="pedidos">
    <div class="tabela-pedido">
      <div class="informacoes-produto">
        <img class="icone-produto" src="/assets/img/camisetas/camiseta-do-more.svg" >
        <p class="nome-produto">Camiseta Do More Preta</p>
        <p class="descricao-produto">Tamanho: GG</p>
        <p class="descricao-produto">Quantidade: 1</p>
        <p class="descricao-produto">Valor Unitario: R$50,00</p>
      </div>
      <div class="tabela-acompanhamento-pedido">
        <div class="tabela-icones-acompanhamento">
          <div class="icones-acompanhamento">
            <img class="icone-estado-pedido" src="/assets/img/icones-transporte/pedido-realizado-icone.svg" >
            <p class="subtitulo-imagem-produto">Pedido Realizado</p>
          </div>
          <div class="icones-acompanhamento">
            <img class="icone-estado-pedido" src="/assets/img/icones-transporte/pagamento-confirmado-icone.svg" >
            <p class="subtitulo-imagem-produto">Pagamento Confirmado</p>
          </div>
          <div class="icones-acompanhamento">
            <img class="icone-estado-pedido" src="/assets/img/icones-transporte/em-separacao-icone.svg" >
            <p class="subtitulo-imagem-produto">Em Separação</p>
          </div>
          <div class="icones-acompanhamento">
            <img class="icone-estado-pedido" src="/assets/img/icones-transporte/em-transporte-icone.svg" >
            <p class="subtitulo-imagem-produto">Em transporte</p>
          </div>
          <div class="icones-acompanhamento">
            <img class="icone-estado-pedido" src="/assets/img/icones-transporte/pedido-entregue-icone.svg" >
            <p class="subtitulo-imagem-produto">Pedido Entregue</p>
          </div>
        </div>
        <button class="botao-acompanhar-pedido" mat-raised-button>Acompanhar Pedido</button>
        <p class="informacoes-pedido-texto">Numero do pedido: </p>
        <p class="informacoes-pedido-texto">Data do pedido: </p>
        <p class="informacoes-pedido-texto">Valor total da compra: </p>
        <p class="informacoes-pedido-texto">Previsão de entrega: </p>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-titulo">
    <p class="footer-titulo-texto">
      Site projeto feito por Angelo Lorensi Mozzaquatro.
    </p>
  </div>

  <div class= "footer-icones">
    <a href="https://github.com/angelolorensi"><img src="/assets/img/footer-icones/logo_github.svg"></a>
    <a href="https://www.instagram.com/angelo_lorensi/" class="mx-sm-3"><img src="assets/img/footer-icones/logo_instagram.svg"></a>
    <a href="https://www.linkedin.com/in/angelo-lorensi-52745a20b/"><img src="/assets/img/footer-icones/logo_linkedin.svg"></a>
  </div>
</footer>
