<div class="container">
  <div class="background-image">
    <mat-toolbar class="toolbar">
       <button [matMenuTriggerFor]="opcoesRoupas" class="toolbar-itens" mat-raised-button>CAMISETAS</button>
       <button [matMenuTriggerFor]="opcoesRoupas" class="toolbar-itens" mat-raised-button>BERMUDAS</button>
       <button [matMenuTriggerFor]="opcoesRoupas" class="toolbar-itens" mat-raised-button>MOLETONS</button>
       <button [matMenuTriggerFor]="opcoesAcessorios" class="toolbar-itens" mat-raised-button>ACESSÓRIOS</button>
    </mat-toolbar>

    <img class="logo-escrito" src="\assets\img\logo-escrito.svg">
  </div>

  <div class="conteudo-primeiro">
    <div>
      <img src="\assets\img\icones-home\caminhao-icone.png">
      <div class="conteudo-primeiro-titulo">Frete Gratis</div>
      <div class="conteudo-primeiro-subtitulo">Fretes gratis para <br> todo país.</div>
    </div>

    <div>
     <img src="\assets\img\icones-home\escudo-icone.png">
     <div class="conteudo-primeiro-titulo">Pagamentos 100% Seguros</div>
     <div class="conteudo-primeiro-subtitulo">Aceitamos varias varias <br> bandeiras de cartões<br> assim como pix e boleto.</div>
    </div>

    <div>
      <img src="\assets\img\icones-home\estrela-icone.png">
      <div class="conteudo-primeiro-titulo">Garantia de Qualidade</div>
      <div class="conteudo-primeiro-subtitulo">Garantia contra defeitos<br> de fabricação de 6 meses.</div>
    </div>

    <div>
      <img src="\assets\img\icones-home\dollar-icone.png">
      <div class="conteudo-primeiro-titulo">Bons Preços</div>
      <div class="conteudo-primeiro-subtitulo">Camisetas a <br> partir de R$50,00.</div>
    </div>
  </div>

  <h2 class="conteudo-segundo-titulo">Mais Vendidos:</h2>

  <div class="conteudo-segundo-cards">

    <mat-card>
      <img class="card-img" src="\assets\img\camisetas\camiseta-insert-coins.svg">
       <mat-card-content class="mat-card-content">
        <h2 class="nome-produto">Camiseta "nome da camiseta"</h2>
        <p class="preco-produto">R$ 50,00</p>
      </mat-card-content>
    </mat-card>

   <mat-card>
      <img class="card-img" src="\assets\img\camisetas\camiseta-do-more.svg">
      <mat-card-content class="mat-card-content">
        <h2 class="nome-produto">Camiseta "nome da camiseta"</h2>
        <p class="preco-produto">R$ 50,00</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img class="card-img" src="\assets\img\camisetas\camiseta-in-god-we-trust.svg">
       <mat-card-content class="mat-card-content">
        <h2 class="nome-produto">Camiseta "nome da camiseta"</h2>
        <p class="preco-produto">R$ 50,00</p>
      </mat-card-content>
    </mat-card>

  </div>
</div>

<footer class="footer">
  <div class="footer-titulo">
    <p class="footer-titulo-texto">
      Site projeto feito por Angelo Lorensi Mozzaquatro.
    </p>
  </div>

  <div class= "footer-icones">
    <a href="https://github.com/angelolorensi"><img src="/assets/img/footer-icones/logo_github.svg"></a>
    <a href="https://www.instagram.com/angelo_lorensi/" class="mx-sm-3"><img src="assets/img/footer-icones/logo_instagram.svg"></a>
    <a href="https://www.linkedin.com/in/angelo-lorensi-52745a20b/"><img src="/assets/img/footer-icones/logo_linkedin.svg"></a>
  </div>
</footer>

<mat-menu #opcoesRoupas="matMenu">
  <button class="opcoes-mat-menu" mat-menu-item="PP">PP</button>
  <button class="opcoes-mat-menu" mat-menu-item="P">P</button>
  <button class="opcoes-mat-menu" mat-menu-item="M">M</button>
  <button class="opcoes-mat-menu" mat-menu-item="G">G</button>
  <button class="opcoes-mat-menu" mat-menu-item="XG">XG</button>
  <button class="opcoes-mat-menu" mat-menu-item="XGG">XGG</button>
</mat-menu>

<mat-menu #opcoesAcessorios="matMenu">
  <button class="opcoes-mat-menu" mat-menu-item="Relogios">Relógios</button>
  <button class="opcoes-mat-menu" mat-menu-item="Correntes">Correntes</button>
  <button class="opcoes-mat-menu" mat-menu-item="Bonés">Bonés</button>
</mat-menu>

